# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# Android
android/local.properties
android/.gradle/
android/gradlew
android/gradlew.bat
android/gradle/
*.iml
.idea/

# macOS
.DS_Store
